/* @charset "utf-8"; */
/* CSS Document */
/* @charset "utf-8"; */
/* CSS Document */
/* TEXT SIZE */
/* NAVIGATION */
/* WINDOW */
/* CONTENT */
/* DIMENS */
/* GENERAL */
/* SHAPE */
/* LABEL */
/* INPUT */
/* INPUT INITIALIZATION */
/* INPUT TEXT */
/* INPUT SELECT */
/* INPUT TEXTAREA */
/* INPUT TYPE TEXT PREVIEW */
/* INPUT TYPE DATE TIME */
/* INPUT TYPE CHECKBOX */
/* INPUT TYPE RADIO BUTTON AND CHECKBOX */
/* LINK */
/* SHADOW */
/* FUNCTION */
/* ANIMATION */
/* INPUT TYPE TEXT */
.SingleLine, .ShortLine, .LongLine {
  height: 20px;
  padding-top: 2px;
  padding-right: 20px;
  padding-left: 10px;
  padding-bottom: 2px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  z-index: 2;
}

.SingleLine {
  width: 180px;
}

.ColoumnInput .SingleLine, .ColoumnInput .ShortLine, .ColoumnInput .LongLine {
  height: 16px;
  vertical-align: middle;
}

.ShortLine {
  width: 45px;
}

.TableControl .SingleLine, .TableControl .ShortLine, .TableControl .LongLine {
  vertical-align: middle;
}

.LongLine {
  width: 280px;
}

/* CONDITION */
.SingleLine:enabled, .ShortLine:enabled, .LongLine:enabled {
  z-index: 2;
}

.SingleLine:disabled, .ShortLine:disabled, .LongLine:disabled {
  z-index: 2;
}

.SingleLine:valid, .SingleLine:in-range, .ShortLine:valid, .ShortLine:in-range, .LongLine:valid, .LongLine.in-range {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.SingleLine:invalid, .SingleLine:out-of-range, .ShortLine:invalid, .ShortLine:out-of-range, .LongLine:invalid, .LongLine.out-of-range {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.SingleLine:required, .ShortLine:enabled, .LongLine:required {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.SingleLine:read-only, .ShortLine:read-only, .LongLine:read-only {
  z-index: 2;
}

.SingleLine[readonly], .ShortLine[readonly], .LongLine[readonly] {
  z-index: 2;
}

/* INPUT TEXT AREA */
.MultiLine, .ShortMultiLine, .LongMultiLine {
  min-height: 75px;
  padding-top: 2px;
  padding-right: 20px;
  padding-left: 10px;
  padding-bottom: 2px;
  vertical-align: top;
  border-style: solid;
  border-width: thin;
  z-index: 2;
}

.MultiLine {
  width: 180px;
}

.ShortMultiLine {
  width: 45px;
}

.LongMultiLine {
  width: 45px;
}

/* CONDITION */
.MultiLine:enabled, .ShortMultiLine:enabled, .LongMultiLine:enabled {
  z-index: 2;
}

.MultiLine:disabled, .ShortMultiLine:disabled, .LongMultiLine:disabled {
  z-index: 2;
}

.MultiLine:valid, .MultiLine:in-range, .ShortMultiLine:valid, .ShortMultiLine:in-range, .LongMultiLine:valid, .LongMultiLine:in-range {
  background-size: auto;
  background-position: right top;
  background-repeat: no-repeat;
}

.MultiLine:invalid, .MultiLine:out-of-range, .ShortMultiLine:invalid, .ShortMultiLine:out-of-range, .LongMultiLine:invalid, .LongMultiLine:out-of-range {
  background-size: auto;
  background-position: right top;
  background-repeat: no-repeat;
}

.MultiLine:required, .ShortMultiLine:required, .LongMultiLine:required {
  background-size: auto;
  background-position: right top;
  background-repeat: no-repeat;
}

.MultiLine:read-only, .ShortMultiLine:read-only, .LongMultiLine:read-only {
  z-index: 2;
}

.MultiLine[readonly], .ShortMultiLine[readonly], .LongMultiLine[readonly] {
  z-index: 2;
}

/* INPUT TYPE TEXT FOR PREVIEW */
.Property {
  min-height: 20px;
  min-width: 180px;
  padding-top: 2px;
  padding-right: 20px;
  padding-left: 10px;
  padding-bottom: 2px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  z-index: 2;
  appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
   display: inline-block;
}

/* CONDITION */
.Property:enabled {
  z-index: 2;
}

.Property:disabled {
  z-index: 2;
}

.Property:valid, .Property:in-range {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.Property:invalid, .Property:out-of-range {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.Property:required {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.Property:read-only {
  z-index: 2;
}

.Property[readonly] {
  z-index: 2;
}

/* INPUT TYPE SELECT */
.DropDown, .ShortDropDown, .LongDropDown {
  height: 26px;
  padding-top: 2px;
  padding-right: 3px;
  padding-left: 10px;
  padding-bottom: 2px;
  vertical-align: top;
  border-style: solid;
  border-width: thin;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  z-index: 2;
  appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
}

.DropDown {
  width: 212px;
}

.ShortDropDown {
  width: 77px;
}

.LongDropDown {
  width: 312px;
}

/* CONDITION */
.DropDown:valid, .DropDown:in-range, .ShortDropDown:valid, .ShortDropDown:in-range, .LongDropDown:valid, .LongDropDown:in-range {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.DropDown:invalid, .DropDown:out-of-range, .ShortDropDown:invalid, .ShortDropDown:out-of-range, .LongDropDown:invalid, .LongDropDown:out-of-range {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.DropDown:required, .ShortDropDown:required, .LongDropDown:required {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.DropDown:enabled, .ShortDropDown:enabled, .LongDropDown:enabled {
  z-index: 2;
}

.DropDown:disabled, .ShortDropDown:disabled, .LongDropDown:disabled {
  z-index: 2;
}

.DropDown:read-only, .ShortDropDown:read-only, .LongDropDown:read-only {
  z-index: 2;
}

.DropDown[readonly], .ShortDropDown[readonly], .LongDropDown[readonly] {
  z-index: 2;
}

/* INPUT TYPE DATE TIME */
.Date, .Time, .DateTime {
  height: 20px;
  padding-top: 2px;
  padding-right: 20px;
  padding-left: 10px;
  padding-bottom: 2px;
  vertical-align: top;
  border-style: solid;
  border-width: thin;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  cursor: hand;
  cursor: pointer;
  z-index: 2;
  appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
}

.Date {
  width: 180px;
}

.Time {
  width: 45px;
}

.DateTime {
  width: 180px;
}

/* CONDITION */
.Date:valid, .Date:in-range, .Time:valid, .Time:in-range, .DateTime:valid, .DateTime:in-range {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.Date:invalid, .Date:out-of-range, .Time:invalid, .Time:out-of-range, .DateTime:invalid, .DateTime:out-of-range {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.Date:required, .Time:required, .DateTime:required {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.Date:enabled, .Time:enabled, .DateTime:enabled {
  z-index: 2;
}

.Date:disabled, .Time:disabled, .DateTime:disabled {
  z-index: 2;
}

.Date:read-only, .Time:read-only, .DateTime:read-only {
  z-index: 2;
}

.Date[readonly], .Time[readonly], .DateTime[readonly] {
  z-index: 2;
}

/* CHECKBOX */
.CheckboxSlideForIE {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
  height: auto;
  text-align: center;
  vertical-align: middle;
  border: none;
  display: inline-block;
}

.CheckboxSlideForIE input[type=checkbox] {
  appearance: radio;
  -ms-appearance: radio;
  -moz-appearance: radio;
  -o-appearance: radio;
  -webkit-appearance: radio;
  transition: all 0.75s ease-out;
  -ms-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
  -webkit-transition: all 0.75s ease-out;
}

.CheckboxSlideForIE label {
  display: none;
}

.CheckboxSlideForIE input[type=checkbox]:checked + label {
  left: none;
}

.CheckboxSlideForOthers {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  width: 36px;
  height: 8px;
  text-align: center;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
}

.CheckboxSlideForOthers input[type=checkbox] {
  appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: -moz-win-glass;
}

.CheckboxSlideForOthers label {
  position: absolute;
  top: -4px;
  left: -8px;
  width: 12px;
  min-height: 12px;
  height: 12px;
  padding: 0px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: all 0.75s ease-out;
  -ms-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
  -webkit-transition: all 0.75s ease-out;
  behavior: url("../Style/HTC/PIE-1.0.0/PIE.htc");
}

.CheckboxSlideForOthers input[type=checkbox]:checked + label {
  left: 28px;
}

/* RADIO BUTTON AND CHECKBOX */
.InputSwitcherTrigger {
  position: relative !important;
  margin: 0px !important;
  min-height: auto !important;
  height: auto !important;
  width: auto !important;
  padding: 0px !important;
  background-image: none !important;
  background-color: none !important;
  border: none !important;
  display: inline-block !important;
}

.InputSwitcherTrigger + label {
  width: 120px;
}

.InputSwitcherForIE {
  position: relative;
  margin-bottom: 10px;
  min-height: 19px;
  width: 16px;
  vertical-align: top;
  display: inline-block;
}

.InputSwitcherForIE input[type=radio] {
  appearance: radio;
  -ms-appearance: radio;
  -moz-appearance: radio;
  -o-appearance: radio;
  -webkit-appearance: radio;
  transition: all 0.75s ease-out;
  -ms-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
  -webkit-transition: all 0.75s ease-out;
}

.InputSwitcherForIE input[type=checkbox] {
  appearance: checkbox;
  -ms-appearance: checkbox;
  -moz-appearance: checkbox;
  -o-appearance: checkbox;
  -webkit-appearance: checkbox;
  transition: all 0.75s ease-out;
  -ms-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
  -webkit-transition: all 0.75s ease-out;
}

.InputSwitcherForIE label {
  display: none;
}

.InputSwitcherForOthers {
  position: relative;
  margin-right: -4px !important;
  margin-bottom: 10px;
  height: 19px;
  width: 16px;
  vertical-align: top;
  border-top-style: solid;
  border-top-width: 4px;
  border-left-style: solid;
  border-left-width: 4px;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  display: inline-block;
  border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -ms-border-bottom-left-radius: 2px;
  -moz-border-bottom-left-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
}

.InputSwitcherForOthers input[type=radio], .InputSwitcherForOthers input[type=checkbox] {
  appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: -moz-win-glass;
}

.InputSwitcherForOthers label {
  position: relative;
  margin-top: 0.5px;
  margin-left: 4px;
  width: 4px;
  min-height: 9.5px;
  height: 9.5px;
  padding: 0px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: solid;
  border-right-width: 4px;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  opacity: 0;
  border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  transition: all 0.75s ease-out;
  -ms-transition: all 0.75s ease-out;
  -moz-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
  -webkit-transition: all 0.75s ease-out;
  behavior: url("../Style/HTC/PIE-1.0.0/PIE.htc");
}

.InputSwitcheFrorOthers input[type=radio]:checked + label, .InputSwitcherForOthers input[type=checkbox]:checked + label {
  opacity: 1;
}
