/* @charset "utf-8"; */
/* CSS Document */
/* @charset "utf-8"; */
/* CSS Document */
/* TEXT SIZE */
/* NAVIGATION */
/* WINDOW */
/* CONTENT */
/* DIMENS */
/* GENERAL */
/* SHAPE */
/* LABEL */
/* INPUT */
/* INPUT INITIALIZATION */
/* INPUT TEXT */
/* INPUT SELECT */
/* INPUT TEXTAREA */
/* INPUT TYPE TEXT PREVIEW */
/* INPUT TYPE DATE TIME */
/* INPUT TYPE CHECKBOX */
/* INPUT TYPE RADIO BUTTON AND CHECKBOX */
/* LINK */
/* SHADOW */
/* FUNCTION */
/* ANIMATION */
/* GENERAL */
mark {
  text-decoration: underline;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

dl {
  display: block;
}

dl dt {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
}

dl dd {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
}

/* POP UP */
.LoadingSquare {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
  text-transform: uppercase;
}

.InformationSquare {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
  text-transform: uppercase;
}

/* NAVIGATION */
nav ul li {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
}

/* CONTAINER */
hgroup h1 {
  font-family: 'BebasNeue_Regular', Arial Narrow;
  font-size: 1.8em;
  text-transform: uppercase;
}

hgroup h2 {
  font-family: 'Utsaah_Regular';
  font-size: 1em;
}

/* PAPER */
.PaperHeader h2 {
  position: relative;
  margin-top: -28px;
  font-family: 'Utsaah_Regular';
  font-size: 1.4em;
  text-transform: uppercase;
  z-index: 3;
}

form p {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
}

/* BUBBLE */
.BubbleContainer {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
}

.FAQItem .BubbleContainer {
  line-height: 30px;
  font-size: 2.2em;
  text-transform: uppercase;
  display: inline-block;
}

/* PROFILE */
.ProfileShort {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
}

/* MESSAGE */
.MessageDefault {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
  text-decoration: none;
}

.ResultSuccess:before {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.ResultFailure:before {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
}

/* FORM */
fieldset legend {
  font-family: 'Utsaah_Regular';
  font-size: 1.4em;
  text-transform: uppercase;
}

.FieldSetContainer label {
  position: relative;
  margin-bottom: 10px;
  min-height: 20px;
  width: 140px;
  padding-top: 2px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 2px;
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
  text-align: left;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  background-position: center;
  background-size: contain;
  display: inline-block;
  z-index: 3;
  border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -moz-border-top-right-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -ms-border-bottom-right-radius: 2px;
  -moz-border-bottom-right-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  behavior: url("../Style/HTC/PIE-1.0.0/PIE.htc");
}

/* INPUT */
.SingleLine {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
}

.ShortLine {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
}

.LongLine {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
}

.MultiLine {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
}

.Property {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
}

.DropDown {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
}

.LongDropDown {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
}

.Date {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
}

.Time {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
}

.DateTime {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
}

/* TABLE */
.TableControl {
  position: relative;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
  font-weight: normal;
  text-align: justify;
  text-decoration: none;
  line-height: 28px;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  display: table;
  behavior: url("../Style/HTC/PIE-1.0.0/PIE.htc");
}

.TableControl .TableControlRow {
  display: table-row;
}

.TableControl .TableControlRow .TableControlLeft {
  text-align: left;
  display: table-cell;
}

.TableControl .TableControlRow .TableControlLeft img {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  cursor: pointer;
  cursor: hand;
}

.TableControl .TableControlRow .TableControlLeft .TableButtonEnable {
  cursor: pointer;
  cursor: hand;
}

.TableControl .TableControlRow .TableControlLeft .TableButtonDisable {
  cursor: default;
}

.TableControl .TableControlRow .TableControlRight {
  text-align: right;
  display: table-cell;
}

.TableControl .TableControlRow .TableControlCenter {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  text-transform: uppercase;
}

.TableContainer {
  position: relative;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  width: auto;
  overflow-x: auto;
  overflow-y: visible;
}

table {
  position: relative;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;
  border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  behavior: url("../Style/HTC/PIE-1.0.0/PIE.htc");
}

table thead tr th, table tbody tr td, table tfoot tr td {
  max-width: 350px;
  white-space: normal;
  word-break: break-all;
  word-wrap: normal;
}

table thead {
  background-position: left;
  background-size: auto;
  background-repeat: repeat-x;
}

table thead tr th {
  padding-top: 4px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 4px;
  font-family: 'Utsaah_Regular';
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
}

table thead tr .ColumnPanel {
  max-width: 120px !important;
  width: 120px !important;
}

table thead tr th a {
  color: inherit;
}

table thead tr th:first-child {
  padding-left: 4px;
}

table thead tr th:last-child {
  padding-right: 4px;
}

table tbody tr td, table tfoot tr td {
  padding: 2px;
  font-family: 'Utsaah_Regular';
  font-size: 1em;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
}

table tbody tr td label {
  margin: 0px;
  font-size: 1em;
  vertical-align: top;
  background-image: none;
  border: none;
}

table tbody tr td a {
  color: inherit;
}

table tbody tr td:first-child {
  padding-left: 4px;
}

table tbody tr td:last-child {
  padding-right: 4px;
}

table tbody tr .ColoumnInput {
  padding-left: 30px;
  vertical-align: middle;
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
}

table tbody tr .ColoumnInput:first-child {
  padding-left: 30px;
}

table tfoot tr td {
  padding: 2px;
  font-family: 'Utsaah_Regular';
  font-size: 1em;
  text-decoration: none;
  vertical-align: middle;
}

table tfoot tr td:nth-child(1) {
  text-align: left;
}

table tfoot tr td:nth-child(2) {
  text-align: right;
}

table tfoot tr td:first-child {
  padding-left: 4px;
}

table tfoot tr td:last-child {
  padding-right: 4px;
}

.TableContainer table {
  margin-left: auto;
  margin-right: auto;
}

.TableGroup table {
  margin-right: 10px;
  margin-bottom: 20px;
  width: auto;
  display: inline-block;
}

.TableControl + table {
  margin-left: auto;
  margin-right: auto;
}

/* BUTTON GENERAL */
.ButtonPrimary {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.TableControlRight .ButtonPrimary {
  font-size: 1em;
}

.ButtonSecondary {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
}

/* BUTTON BY IMAGE */
.ButtonReset {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
}

#ButtonToTop {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
}

/* BUTTON TABLE */
.ButtonLimit {
  font-family: 'Utsaah_Regular';
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.ButtonAdd {
  font-family: 'Utsaah_Regular';
  font-size: 1em;
  text-decoration: none;
}

/* FOOTER */
footer #FooterLeft {
  font-family: 'Utsaah_Regular';
  font-size: 1em;
}

footer #FooterRight {
  font-family: 'Utsaah_Regular';
  font-size: 1em;
}
