/* @charset "utf-8"; */
/* CSS Document */
/* @charset "utf-8"; */
/* CSS Document */
/* TEXT SIZE */
/* NAVIGATION */
/* WINDOW */
/* CONTENT */
/* DIMENS */
/* GENERAL */
/* SHAPE */
/* LABEL */
/* INPUT */
/* INPUT INITIALIZATION */
/* INPUT TEXT */
/* INPUT SELECT */
/* INPUT TEXTAREA */
/* INPUT TYPE TEXT PREVIEW */
/* INPUT TYPE DATE TIME */
/* INPUT TYPE CHECKBOX */
/* INPUT TYPE RADIO BUTTON */
/* LINK */
/* SHADOW */
/* FUNCTION */
/* ANIMATION */
/* CONTAINER */
.jmesa {
  margin: 0px;
  padding: 0px;
}

.jmesa .dropShadow {
  padding-top: 5px;
  padding-top-padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

/* HEADER */
.jmesa caption {
  padding-left: 5px;
  padding-left-caption-side: top;
  font-family: "Utsaah_Regular";
  font-family-font-size: 1.6em;
  font-family-text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
}

/* TABLE */
.jmesa .table {
  padding: 0px;
  border-style: solid;
  border-width: 1px;
}

.jmesa .tbody input {
  padding: 0px;
  margin: 0px;
}

.jmesa .header td {
  padding: 5px;
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
  text-align: center;
  white-space: nowrap;
  background-size: contain;
  background-repeat: repeat-x;
  border-style: solid;
  border-width: 1px;
}

.jmesa .odd a, .jmesa .even a {
  font-family: 'Utsaah_Regular';
}

.jmesa .odd td, .jmesa .even td, .jmesa .removed td {
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  font-family: 'Utsaah_Regular';
  font-size: 1em;
  text-align: left;
}

/* TOOLBAR */
.toolbar table {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  padding: 0px;
}

.jmesa .toolbar td {
  margin: 0px;
  padding: 0px;
}

.jmesa .toolbar select {
  height: 26px;
  width: 292px;
  padding-top: 2px;
  padding-right: 23px;
  padding-left: 10px;
  padding-bottom: 2px;
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
  vertical-align: middle;
  border-style: solid;
  border-width: thin;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  z-index: 2;
  appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
}

.jmesa .toolbar select:valid, .jmesa .toolbar select:in-range {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.jmesa .toolbar select:invalid, .jmesa .toolbar select:out-of-range {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.jmesa .toolbar select:required {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.jmesa .toolbar select:enabled {
  z-index: 2;
}

.jmesa .toolbar select:disabled {
  z-index: 2;
}

.jmesa .toolbar .pageNumber {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
}

.jmesa .toolbar .pageNumber a {
  font-family: 'Utsaah_Regular';
  font-size: 1.2em;
  text-transform: underline;
}

.jmesa .toolbar .textItem {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
  color: #729fcf;
  padding: 0px 2px;
}

.jmesa .toolbar .textItem a {
  color: #729fcf;
}

.jmesa .toolbar .textItemError {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
  font-style: italic;
  color: #ec4646;
  padding: 0px 2px;
}

.jmesa .toolbar .textItemError a {
  color: #ec4646;
}

.jmesa .toolbar img {
  margin-right: 5px;
  padding: 5px;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
}

/* FILTER */
.jmesa .filter td {
  padding: 2px 2px 3px 2px;
}

.jmesa .filter .dynFilter {
  position: relative;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  padding: 0;
  margin: 0;
  border: 1px solid #c0c0c0;
  background-color: #efebe7;
  height: 15px;
  white-space: nowrap;
  cursor: pointer;
  cursor: hand;
}

.jmesa .filter #dynFilterDiv {
  position: absolute;
  top: -3px;
  left: -2px;
  padding: 0;
  margin: 0;
  height: 17px;
  border: 1px solid #c0c0c0;
  background-color: #e1ebf4;
}

.jmesa .filter #dynFilterInput {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
  border-style: none;
  background-color: #e1ebf4;
}

.jmesa .filter #dynFilterDroplistDiv {
  position: absolute;
  top: -2px;
  left: -2px;
  padding: 0;
  margin: 0;
  height: 17px;
  background-color: #e1ebf4;
  z-index: 2;
}

.jmesa .filter #dynFilterDroplist {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
  border: 1px solid #c0c0c0;
  background-color: #e1ebf4;
}

/* ROW */
.jmesa .addRow {
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  color: white;
  background-color: #888;
}

/* COLOUMN */
.jmesa .wsColumn {
  position: relative;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #c0c0c0;
  height: 15px;
  white-space: nowrap;
  cursor: pointer;
}

.jmesa .wsColumnError {
  position: relative;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  font-style: italic;
  padding: 0;
  margin: 0;
  color: #ec4646;
  border-bottom: 1px dashed #ec4646;
  height: 15px;
  white-space: nowrap;
  cursor: pointer;
}

.jmesa .wsColumnChange {
  position: relative;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 11px;
  font-style: italic;
  padding: 0;
  margin: 0;
  color: #005e8f;
  border-bottom: 1px dashed #005e8f;
  height: 15px;
  white-space: nowrap;
  cursor: pointer;
}

.jmesa #wsColumnDiv {
  position: absolute;
  top: -2px;
  left: -2px;
  padding: 0;
  margin: 0;
  height: 17px;
  border: 1px solid #c0c0c0;
  background-color: #ededed;
}

.jmesa #wsColumnInput {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  padding: 0;
  margin: 0;
  border-style: none;
  background-color: #ededed;
}

/* HOVER */
.jmesa .highlight td {
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  font-family: 'Utsaah_Regular';
  font-size: 1em;
  text-align: left;
}

.jmesa .highlight a {
  font-family: 'Utsaah_Regular';
}

/* FOOTER */
.jmesa .statusBar td {
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Utsaah_Regular';
  font-size: 0.8em;
  text-align: left;
  white-space: nowrap;
  border-style: solid;
  border-width: 1px;
}
