/* @charset "utf-8"; */
/* CSS Document */
/* @charset "utf-8"; */
/* CSS Document */
/* TEXT SIZE */
/* NAVIGATION */
/* WINDOW */
/* CONTENT */
/* DIMENS */
/* GENERAL */
/* SHAPE */
/* LABEL */
/* INPUT */
/* INPUT INITIALIZATION */
/* INPUT TEXT */
/* INPUT SELECT */
/* INPUT TEXTAREA */
/* INPUT TYPE TEXT PREVIEW */
/* INPUT TYPE DATE TIME */
/* INPUT TYPE CHECKBOX */
/* INPUT TYPE RADIO BUTTON AND CHECKBOX */
/* LINK */
/* SHADOW */
/* FUNCTION */
/* ANIMATION */
/* GENERAL */
html {
  font-size: 90%;
}
