/* @charset "utf-8"; */
/* CSS Document */
/* @charset "utf-8"; */
/* CSS Document */
/* TEXT SIZE */
/* NAVIGATION */
/* WINDOW */
/* CONTENT */
/* DIMENS */
/* GENERAL */
/* SHAPE */
/* LABEL */
/* INPUT */
/* INPUT INITIALIZATION */
/* INPUT TEXT */
/* INPUT SELECT */
/* INPUT TEXTAREA */
/* INPUT TYPE TEXT PREVIEW */
/* INPUT TYPE DATE TIME */
/* INPUT TYPE CHECKBOX */
/* INPUT TYPE RADIO BUTTON AND CHECKBOX */
/* LINK */
/* SHADOW */
/* FUNCTION */
/* ANIMATION */
/* @charset "utf-8"; */
/* CSS Document */
/* @charset "utf-8"; */
/* CSS Document */
/* TEXT SIZE */
/* NAVIGATION */
/* WINDOW */
/* CONTENT */
/* DIMENS */
/* GENERAL */
/* SHAPE */
/* LABEL */
/* INPUT */
/* INPUT INITIALIZATION */
/* INPUT TEXT */
/* INPUT SELECT */
/* INPUT TEXTAREA */
/* INPUT TYPE TEXT PREVIEW */
/* INPUT TYPE DATE TIME */
/* INPUT TYPE CHECKBOX */
/* INPUT TYPE RADIO BUTTON AND CHECKBOX */
/* LINK */
/* SHADOW */
/* FUNCTION */
/* ANIMATION */
/* TYPEFACE */
@font-face {
  font-family: 'BebasNeue_Regular';
  src: url("../../Resource/Font/Bebas Neue/BebasNeue_Regular.eot?#iefix") format("embedded-opentype"), url("../../Resource/Font/Bebas Neue/BebasNeue_Regular.woff") format("woff"), url("../../Resource/Font/Bebas Neue/BebasNeue_Regular.ttf") format("truetype"), url("../../Resource/Font/Bebas Neue/BebasNeue_Regular.svg#BebasNeue_Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Utsaah_Regular';
  src: url("../../Resource/Font/Utsaah/Utsaah_Regular.eot");
  src: url("../../Resource/Font/Utsaah/Utsaah_Regular.eot?#iefix") format("embedded-opentype"), url("../../Resource/Font/Utsaah/Utsaah_Regular.woff") format("woff"), url("../../Resource/Font/Utsaah/Utsaah_Regular.ttf") format("truetype"), url("../../Resource/Font/Utsaah/Utsaah_Regular.svg#utsaahregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AgencyFB_Regular';
  src: url("../../Resource/Font/Agency FB/AgencyFB_Regular.eot?#iefix") format("embedded-opentype"), url("../../Resource/Font/Agency FB/AgencyFB_Regular.woff") format("woff"), url("../../Resource/Font/Agency FB/AgencyFB_Regular.ttf") format("truetype"), url("../../Resource/Font/Agency FB/AgencyFB_Regular.svg#AgencyFB_Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CourierNew_Regular';
  src: url("../../Resource/Font/Courier New/CourierNew_Regular.eot?#iefix") format("embedded-opentype"), url("../../Resource/Font/Courier New/CourierNew_Regular.woff") format("woff"), url("../../Resource/Font/Courier New/CourierNew_Regular.ttf") format("truetype"), url("../../Resource/Font/Courier New/CourierNew_Regular.svg#CourierNew_Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura_CondensedMedium';
  src: url("../../Resource/Font/Futura/Futura_CondensedMedium.eot?#iefix") format("embedded-opentype"), url("../../Resource/Font/Futura/Futura_CondensedMedium.woff") format("woff"), url("../../Resource/Font/Futura/Futura_CondensedMedium.ttf") format("truetype"), url("../../Resource/Font/Futura/Futura_CondensedMedium.svg#Futura_CondensedMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* SETUP */
img {
  border: none;
}

input[name=GroupNavigation] {
  appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: -moz-win-glass;
}

input[name=SubGroupNavigation] {
  appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: -moz-win-glass;
}

label {
  cursor: pointer;
  cursor: hand;
}

input[type=button] {
  cursor: pointer;
  cursor: hand;
}

input[type=submit] {
  cursor: pointer;
  cursor: hand;
}

input[type=reset] {
  cursor: pointer;
  cursor: hand;
}

.PaperHeader {
  cursor: pointer;
  cursor: hand;
}

/**
	@include Transition(all, 0.75s, ease-out)*/
* {
  transition-property: position, margin, width, height, padding, background-color, opacity, border;
  -ms-transition-property: position, margin, width, height, padding, background-color, opacity, border;
  -moz-transition-property: position, margin, width, height, padding, background-color, opacity, border;
  -o-transition-property: position, margin, width, height, padding, background-color, opacity, border;
  -webkit-transition-property: position, margin, width, height, padding, background-color, opacity, border;
  transition-duration: 0.75s;
  -ms-transition-duration: 0.75s;
  -moz-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  -webkit-transition-duration: 0.75s;
  transition-movement: ease-out;
  -ms-transition-movement: ease-out;
  -moz-transition-movement: ease-out;
  -o-transition-movement: ease-out;
  -webkit-transition-movement: ease-out;
}

body {
  transition: all 0 linear;
  -ms-transition: all 0 linear;
  -moz-transition: all 0 linear;
  -o-transition: all 0 linear;
  -webkit-transition: all 0 linear;
}

/* NEUTRALIZE */
h1, h2, h3, h4, h5, h6, p, mark, ol, ul, li {
  margin: auto;
  padding: auto;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  text-transform: inherit;
}

/* SEMANTIC ELEMENTS */
body {
  margin: 0px;
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 20px;
}

main {
  margin-top: 32px;
  margin-right: 20px;
  margin-left: 80px;
  margin-bottom: 80px;
  display: block;
}

section, aside {
  margin-top: 32px;
  margin-right: 40px;
  display: table;
}

dl {
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

dl dt {
  margin: 0px;
  padding: 0px;
}

dl dd {
  margin: 0px;
  padding: 0px;
}

/* GENERAL */
.ContainerBlock {
  display: block;
}

.ContainerBlock form {
  min-width: 80%;
  max-width: 100%;
  text-align: center;
}

.ContainerInline {
  display: inline;
}

.ContainerInlineBlock {
  vertical-align: top;
  display: inline-block;
}

.ContainerInlineBlock:nth-child(odd) form {
  min-width: 400px;
  width: auto;
  text-align: left;
}

.ContainerInlineBlock:nth-child(even) form {
  min-width: auto;
  width: auto;
  text-align: left;
}

.ContainerCenter {
  margin-right: auto;
  margin-left: auto;
}

#MainLogin {
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 80px;
  display: block;
}

/* POP UP */
#ProgressPage {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
  z-index: 6;
}

#ProgressRequest {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
  z-index: 6;
}

#ProgressRequest .Background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  z-index: 7;
}

#ProgressRequest .LoadingSquare {
  z-index: 8;
}

.LoadingSquare {
  position: relative;
  margin: auto;
  top: 35%;
  max-width: 320px;
  min-height: 120px;
  max-height: 160px;
  text-align: center;
  vertical-align: middle;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  z-index: 7;
}

#InformationPage {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
  z-index: 8;
}

.InformationSquare {
  position: relative;
  margin: auto;
  top: 35%;
  max-width: 680px;
  min-height: 120px;
  max-height: 160px;
  text-align: center;
  vertical-align: middle;
  z-index: 9;
}

/* HEADER */
header {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: 40px;
  margin-bottom: 20px;
  display: block;
}

#IconHome {
  height: 60px;
  width: 60px;
  padding-left: 10px;
  padding-right: 5px;
  border-right-style: solid;
  border-right-width: 1px;
  display: inline-block;
}

#LogoMMBS {
  float: left;
  margin-left: 20px;
  border: none;
  display: inline-block;
}

#LogoEmobile {
  float: right;
  margin-right: 40px;
  border: none;
  display: inline-block;
}

#LogoClient {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
  height: 60px;
  min-width: 120px;
  padding-left: 20px;
  border-left-style: solid;
  border-left-width: 1px;
  display: inline-block;
}

/* NAVIGATION */
#NavigationHome {
  float: left;
  height: 60px;
  width: 60px;
  border-left-style: solid;
  border-left-width: 1px;
  display: inline-block;
}

nav {
  position: relative;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  padding: 0px;
  width: 100%;
  height: 60px;
  background-position: center;
  background-size: contain;
  z-index: 4;
  border-radius: 6px;
  -ms-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  behavior: url("../Style/HTC/PIE-1.0.0/PIE.htc");
  display: block;
}

nav ul {
  margin: 0px;
  padding: 0px;
  vertical-align: top;
  list-style: none;
  display: inline-block;
}

nav ul li {
  margin-left: 20px;
  margin-right: 20px;
  min-height: 60px;
  vertical-align: top;
  line-height: 60px;
  display: inline-block;
}

nav ul li ul {
  position: absolute;
  margin-top: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border-style: solid;
  border-width: 1px;
  display: none;
  z-index: 5;
  border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -moz-border-bottom-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  behavior: url("../Style/HTC/PIE-1.0.0/PIE.htc");
}

nav ul li ul li {
  margin: 0px;
  min-height: 24px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  font-size: 100%;
  line-height: 24px;
  display: block;
}

nav ul li ul li ul {
  position: absolute;
  right: -160px;
  margin-top: 0px;
  margin-left: 0x;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 160px;
  padding: 0px;
  border-style: solid;
  border-width: 1px;
  display: none;
  z-index: 5;
  border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -moz-border-top-right-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  behavior: url("../Style/HTC/PIE-1.0.0/PIE.htc");
}

nav ul li ul li ul li {
  margin: 0px;
  min-height: 24px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  font-size: 100%;
  line-height: 24px;
  display: block;
}

/* PROFILE */
.ProfileShort {
  float: right;
  margin-top: 0px;
  margin-right: 0px;
  text-align: right;
}

/* PAPER */
.PaperHeader {
  position: relative;
  max-width: 400px;
  text-align: center;
  z-index: 1;
}

.PaperHeaderGroup {
  position: relative;
  padding-left: 20px;
  z-index: 1;
}

.PaperHeaderGroup .PaperHeader {
  display: inline-block;
}

form {
  position: relative;
  width: auto;
  height: auto;
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  z-index: 2;
  border-radius: 6px;
  -ms-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  behavior: url("../Style/HTC/PIE-1.0.0/PIE.htc");
}

/* FORM */
fieldset {
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 0px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  behavior: url("../Style/HTC/PIE-1.0.0/PIE.htc");
}

fieldset legend {
  position: relative;
  top: 0px;
  margin-right: -1px;
  margin-left: -1px;
  margin-bottom: 14px;
  height: 30px;
  width: 100%;
  line-height: 30px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  behavior: url("../Style/HTC/PIE-1.0.0/PIE.htc");
}

.FieldSetContainer {
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
  /* padding-right: 20px; */
  padding-right: 16px;
  padding-bottom: 5px;
  text-align: left;
  display: inline-block;
}

.FieldSetContainer .SubFieldSetContainer {
  position: relative;
  margin-top: -10px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 0px;
  text-align: left;
  border-left-style: solid;
  border-left-width: 1px;
}

/* BUBBLE */
.BubbleContainer {
  min-height: 30px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  text-align: left;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  -ms-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  behavior: url("../Style/HTC/PIE-1.0.0/PIE.htc");
}

/* FAQ */
.FAQItem .BubbleContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
}

.FAQItem dl {
  margin-left: 10px;
  display: inline-block;
}

/* SHAPE */
.ShapeTailBorder {
  position: relative;
  margin-top: -15px;
  margin-right: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  display: block;
  z-index: 2;
}

.ShapeTailBody {
  position: relative;
  margin-top: -15px;
  margin-right: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  display: block;
  z-index: 3;
}

.ShapeHornBorder {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -1px;
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  display: block;
  z-index: 2;
}

.ShapeHornBody {
  position: relative;
  margin-top: -15px;
  margin-right: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  display: block;
  z-index: 3;
}

.ShapeFolderHornBorder {
  position: relative;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 100px;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  display: block;
  z-index: 2;
}

.ShapeFolderHornBody {
  position: relative;
  margin-top: -33px;
  margin-right: auto;
  margin-left: auto;
  width: 98px;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  display: block;
  z-index: 3;
}

.ShapeIsoscelesHorn {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  display: inline-block;
  z-index: 3;
}

.ShapeIsoscelesTail {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  display: inline-block;
  z-index: 3;
}

/* FOOTER */
footer {
  position: absolute;
  left: 0px;
  right: 0px;
  margin-top: 10px;
  margin-bottom: -20px;
  padding-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 30px;
}

footer #FooterLeft {
  float: left;
  text-align: left;
}

footer #FooterRight {
  float: right;
  text-align: right;
}

#FooterHeader {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 10px;
  background-repeat: repeat-x;
  background-size: contain;
  display: block;
}
